*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    margin: 0;
    min-height: 100%;
    background-color: #666;
    
}
main{
    width: 1366px;
    height: 768px;
    display: flex;
    width: 100%;
}
nav{
    background-color: #999;
    width: 50px;
    display: flex;
    justify-content: center;
    padding: 5px;
}
aside{
    background-color: #333;
    width: 200px;
    transition:width .5s;
    color: white;
    overflow: hidden;
}
#TopNav{
    background-color: #373737;
    display: block;
    resize: none;
    width: 100%;
    color:white;
    outline: 0;
    border: 0px;
}
a{
    display: block;
    width: 40px;
    height: 40px;
    
}

.close{
    width: 0px;  
}

#text{
    width:100px;
    float: right;
}
.tab {
    background-color: #373737;
    justify-content: right;
    display: inline-block;
  }
  
.tab li:hover {
    background-color: white;
  }
  
  .tab li.active {
    background-color: #ccc;
  }
.tablinks{
    color: #C2C2C2;
}

.tab{
    background-color: #161616;
}
.tab li{
    list-style-image: url(images/sprites8.png);  
    border: 1px solid black;
    width: 173px;
    height: 34px;
    
}

#files li{
    list-style-image: url(images/filesIcon.png); 
    width: 173px;
    height: 34px;
    color: #E3E3E3;
    
}
#OtherStuff li{
    list-style-image: url(images/otherStuffIcon.png);  
    color: #E3E3E3;
}
footer{
    width:1366px;
    height: 14px;
}
